<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mewe.dao.IAnswerDao" >
  <resultMap id="BaseResultMap" type="com.mewe.pojo.Answer" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="basicId" property="basicid" jdbcType="INTEGER" />
    <result column="pointTotal" property="pointtotal" jdbcType="INTEGER" />
    <result column="answerDetailString" property="answerdetailstring" jdbcType="LONGVARCHAR" />
    <result column="answerDetailJson" property="answerdetailjson" jdbcType="LONGVARCHAR" />
    <result column="answerSectionString" property="answersectionstring" jdbcType="LONGVARCHAR" />
    <result column="conclusionsectionstring" property="conclusionsectionstring" jdbcType="LONGVARCHAR" />
    <result column="finalConclusion" property="finalconclusion" jdbcType="VARCHAR" />
    <result column="currentSection" property="currentsection" jdbcType="INTEGER" />
    <result column="createdBy" property="createdby" jdbcType="VARCHAR" />
    <result column="createdDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="VARCHAR" />
    <result column="modifiedDate" property="modifieddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, basicId, pointTotal, answerDetailString, answerSectionString, finalConclusion, conclusionsectionstring, currentSection, createdBy, createdDate, 
    modifiedBy, modifiedDate
  </sql>
  
  <insert id="add" parameterType="com.mewe.pojo.Answer">
	  insert into mewe_answer 
	  (
	    basicId, 
	    answerDetailString, 
	    answerSectionString, 
	    currentSection, 
	    pointTotal, 
	    createdBy,
	    createdDate, 
	    modifiedBy,
	    modifiedDate
	  ) 
	  values
	  (
	    #{basicid}, 
	    #{answerdetailstring}, 
	    #{answersectionstring}, 
	    #{currentsection}, 
	    #{pointtotal},
	    #{createdby},
	  	#{createddate}, 
	  	#{modifiedby},
	  	#{modifieddate}  
	  )
	</insert>
	
	<update id="update" parameterType="com.mewe.pojo.Answer">
	  update mewe_answer 
	  set 
		answerDetailString = #{answerdetailstring}, 
		answerSectionString = #{answersectionstring}, 
		currentSection = #{currentsection}, 
		pointTotal = #{pointtotal}, 
		conclusionsectionstring = #{conclusionsectionstring},
		finalConclusion = #{finalconclusion},
		modifiedBy = #{modifiedby},
		modifiedDate = #{modifieddate}  
	  where 
	  	basicId = #{basicid}
	</update>
	
	<select id="search" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mewe_answer
    where basicId = #{basicid}
  </select>
</mapper>