<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mewe.pojo.mapping.ConclusionMapper" >
  <resultMap id="BaseResultMap" type="com.mewe.pojo.Conclusion" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="sectionId" property="sectionid" jdbcType="CHAR" />
    <result column="conclusion" property="conclusion" jdbcType="LONGVARCHAR" />
    <result column="suggest" property="suggest" jdbcType="LONGVARCHAR" />
    <result column="products" property="products" jdbcType="LONGVARCHAR" />
    <result column="isActive" property="isactive" jdbcType="CHAR" />
    <result column="createdBy" property="createdby" jdbcType="VARCHAR" />
    <result column="createdDate" property="createddate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="VARCHAR" />
    <result column="modifiedDate" property="modifieddate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, sectionId, isActive, createdBy, createdDate, modifiedBy, modifiedDate
  </sql>
</mapper>